server:
  port: 8080
  servlet:
    context-path: /
    encoding:
      charset: utf-8
      enabled: true

logging:
  level:
    root: debug
    org.apache.tomcat: info
    org.apache.tomcat.util.net: warn
    org.apache.catalina.session: warn